<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Restaurant-billing-system</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-light justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item mr-5">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link" href="#">History</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" th:href="@{/order}">Order</a>
                </li>
            </ul>
        </nav>
        <div class="container">

            <div class="logo-block">
                <img th:src="@{/images/restaurant.svg}" alt="" width="100" style="margin-left: 13px;">
                <h4>Bar and grill</h4>

            </div>

        </div>
    </body>
</html>