<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD menu with Spring and Vue JS</title>
    <link href="https://unpkg.com/bootstrap@3.4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/menus.css" rel="stylesheet"/>


</head>
<body>
    <div class="container">
        <h1>Menu CRUD</h1>
        <main id="app">
            <router-view></router-view>
        </main>
    </div>


    <template id="menu">
        <div>
            <h2>
                {{ menu.id }}
            </h2>
            <b>Description</b>
            <div>{{ menu.waiter_name }}</div>
            <br/>
            <h4>Orders:</h4>
            <li v-for="order in orders">
                {{ order.name }}
                -
                {{ order.price }}
            </li>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <a>
                <router-link to="/">Back to menu list</router-link>
            </a>


        </div>
    </template>

    <template id="menu-list">
        <div>
            <div class="actions">
                <a class="btn btn-default">
                    <router-link :to="{path: '/add-menu'}">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add menu
                    </router-link>
                </a>
            </div>
            <div class="filters row">
                <div class="form-group col-sm-3">
                    <input placeholder="Search" v-model="searchKey" class="form-control" id="search-element" requred/>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        <a @click="changeParams('id')">Id</a>
                    </th>
                    <th>
                        <a @click="changeParams('waiter_name')">Waiter name</a>
                    </th>
                    <th>Orders</th>
                    <th class="col-sm-2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="menu in filteredMenus">

                    <td>
                        <a>
                            <router-link :to="{name: 'menu', params: {menu_id: menu.id}}">{{ menu.id }}</router-link>
                        </a>
                    </td>
                    <td>

                        {{ menu.waiter_name }}</td>
                    <td>
                        <order-post v-bind:menu_id="menu.id"></order-post>
                    </td>
                    <td>
                        <a class="btn btn-warning btn-xs">
                            <router-link :to="{name: 'menu-edit', params: {menu_id: menu.id}}">Edit</router-link>
                        </a>
                        <a class="btn btn-danger btn-xs">
                            <router-link :to="{name: 'menu-delete', params: {menu_id: menu.id}}">Delete</router-link>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--<li class="nax-item" th:each="i : ${#numbers.sequence(0, filteredMenus - 1)}">-->
                <!--<a th:href="@{/api/(page=${i})}" th:text="${i}"></a>-->
            <!--</li>-->
            <a @click="changePage('Back')">Back</a>

            <a @click="changePage('Next')">Next</a>

            <!--<div class="pagination">-->
                <!--<div class="number"-->
                     <!--v-for="i in num_pages()"-->
                     <!--v-bind:class="[i == currentPage ? 'active' : '']"-->
                     <!--v-on:click="change_page(i)">{{i}}</div>-->
            <!--</div>-->


        </div>

    </template>

    <template id="add-menu">
        <div>
            <h2>Add menu</h2>
            <form @submit="createMenu">
                <div class="form-group">
                    <label for="add-waiter_name">Waiter name:</label>
                    <input class="form-control" id="add-waiter_name" v-model="menu.waiter_name" required>
                </div>

                <div class="form-group">
                    <label for="add-orders">Orders:</label>

                    <li v-for="order in displayOrders">
                        <input type="checkbox" id="add-orders" v-bind:value="{id : order.id, name: order.name, description : order.description, price: order.price}" v-model="menu.orders">
                            <span>{{ order.name }}</span>
                        <p>{{ order.description }}</p>
                    </li>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
                <a class="btn btn-default">
                    <router-link to="/">Cancel</router-link>
                </a>

            </form>
        </div>
    </template>

    <template id="menu-edit">
        <div>
            <h2>Edit menu</h2>
            <form @submit="updateMenu">
                <div class="form-group">
                    <label for="edit-waiter_name">Waiter name:</label>
                    <input class="form-control" id="edit-waiter_name" v-model="menu.waiter_name" required>
                </div>





                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-default">
                    <router-link to="/">Cancel</router-link>
                </a>

            </form>
        </div>
    </template>

    <template id="menu-delete">
        <div>
            <h2>Delete menu {{ menu.id }}</h2>
            <form @submit="deleteMenu">
                <p>The action cannot be undone</p>
                <button type="submit" class="btn btn-danger">Delete</button>
                <a class="btn btn-default">
                    <router-link to="/">Cancel</router-link>
                </a>
            </form>
        </div>
    </template>



    <script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
    <script th:src="@{/js/menus.js}"></script>

    <!--<link rel="stylesheet" th:href="@{css/flaticon.css}">-->




</body>
</html>