<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pizza - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- версия для разработки, отображает полезные предупреждения в консоли -->


    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>







    <!--<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">-->

    <!--<link rel="stylesheet" th:href="@{/styles.css}"/>-->


    <!--<link rel="stylesheet" th:href="@{css/open-iconic-bootstrap.min.css}">-->
    <!--<link rel="stylesheet" th:href="@{css/animate.css}">-->

    <!--<link rel="stylesheet" th:href="@{css/owl.carousel.min.css}">-->
    <!--<link rel="stylesheet" th:href="@{css/owl.theme.default.min.css}">-->
    <!--<link rel="stylesheet" th:href="@{css/magnific-popup.css}">-->

    <!--<link rel="stylesheet" th:href="@{css/aos.css}">-->

    <!--<link rel="stylesheet" th:href="@{css/ionicons.min.css}">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" th:href="@{css/bootstrap-datepicker.css}">
    <link rel="stylesheet" th:href="@{css/jquery.timepicker.css}">


    <!--<link rel="stylesheet" th:href="@{css/flaticon.css}">-->
    <!--<link rel="stylesheet" th:href="@{css/icomoon.css}">-->
    <!--<link rel="stylesheet" th:href="@{css/style.css}">-->


</head>

<body>

<!--<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">-->
    <!--<div class="container">-->
        <!--<a class="navbar-brand" href="index.html"><span class="flaticon-pizza-1 mr-1"></span>Pizza<br><small>Delicous</small></a>-->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="oi oi-menu"></span> Menu-->
        <!--</button>-->
        <!--<div class="collapse navbar-collapse" id="ftco-nav">-->
            <!--<ul class="navbar-nav ml-auto">-->
                <!--<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home</a></li>-->
                <!--<li class="nav-item"><a th:href="@{/menus}" class="nav-link">Menu</a></li>-->
                <!--<li class="nav-item"><a th:href="@{/order}" class="nav-link">Services</a></li>-->
                <!--<li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>-->
                <!--<li class="nav-item"><a href="about.html" class="nav-link">About</a></li>-->
                <!--<li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->


<table class="table">

    <thread>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thread>

    <div id="app"></div>
</table>

<script src="/js/main3.js"></script>


</body>



<!--<script th:src="@{js/jquery.min.js}"></script>-->
<!--<script th:src="@{js/jquery-migrate-3.0.1.min.js}"></script>-->
<!--<script th:src="@{js/popper.min.js}"></script>-->
<!--<script th:src="@{js/bootstrap.min.js}"></script>-->
<!--<script th:src="@{js/jquery.easing.1.3.js}"></script>-->
<!--<script th:src="@{js/jquery.waypoints.min.js}"></script>-->
<!--<script th:src="@{js/jquery.stellar.min.js}"></script>-->
<!--<script th:src="@{js/owl.carousel.min.js}"></script>-->
<!--<script th:src="@{js/jquery.magnific-popup.min.js}"></script>-->
<!--<script th:src="@{js/aos.js}"></script>-->
<!--<script th:src="@{js/jquery.animateNumber.min.js}"></script>-->
<!--<script th:src="@{js/bootstrap-datepicker.js}"></script>-->
<!--<script th:src="@{js/jquery.timepicker.min.js}"></script>-->
<!--<script th:src="@{js/scrollax.min.js}"></script>-->
<!--<script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false}"></script>-->
<!--<script th:src="@{js/google-map.js}"></script>-->
<!--<script th:src="@{js/main.js}"></script>-->
</html>