<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pizza - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/styles.css}"/>


    <link rel="stylesheet" th:href="@{css/open-iconic-bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/animate.css}">

    <link rel="stylesheet" th:href="@{css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{css/magnific-popup.css}">

    <link rel="stylesheet" th:href="@{css/aos.css}">

    <link rel="stylesheet" th:href="@{css/ionicons.min.css}">

    <link rel="stylesheet" th:href="@{css/bootstrap-datepicker.css}">
    <link rel="stylesheet" th:href="@{css/jquery.timepicker.css}">


    <link rel="stylesheet" th:href="@{css/flaticon.css}">
    <link rel="stylesheet" th:href="@{css/icomoon.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html"><span class="flaticon-pizza-1 mr-1"></span>Pizza<br><small>Delicous</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a th:href="@{/menus}" class="nav-link">Menu</a></li>
                <li class="nav-item"><a th:href="@{/order}" class="nav-link">Services</a></li>
                <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h4>Menu #</h4>
    <h4 th:text="${menu.id}">text</h4>

    <div class="">
        <p>Waiter name: </p> <p th:text="${menu.waiter_name}"></p>

        <p>Orders: </p> <p th:text="${menu.orders}"></p>
    </div>
</div>

</body>



</html>

