<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/flaticon.css}">
    <link rel="stylesheet" th:href="@{css/icomoon.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>

<body>
<!--<nav class="navbar navbar-expand-sm bg-light justify-content-center">-->
    <!--<ul class="navbar-nav">-->
        <!--<li class="nav-item mr-5">-->
            <!--<a class="nav-link" th:href="@{/}">Home</a>-->
        <!--</li>-->
        <!--<li class="nav-item mr-5">-->
            <!--<a class="nav-link" href="#">History</a>-->
        <!--</li>-->
        <!--<li class="nav-item mr-4">-->
            <!--<a class="nav-link" th:href="@{/order}">Order</a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</nav>-->

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html"><span class="flaticon-pizza-1 mr-1"></span>Pizza<br><small>Delicous</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a th:href="@{/menus}" class="nav-link">Menu</a></li>
                <li class="nav-item"><a th:href="@{/order}" class="nav-link">Services</a></li>
                <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                <div th:if="${user == null}">
                    <li class="nav-item"><a th:href="@{/login}" class="nav-link">Login</a></li>
                    <li class="nav-item"><a th:href="@{/registration}" class="nav-link">Registration</a></li>
                </div>
                <!--<li class="nav-item" sec:authorize="isFullyAuthenticated()"><a href="#" class="nav-link" th:text="${user.name}">sometext</a></li>-->
                <li th:if="${user != null}" class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" th:text="${user.name}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Welcome
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/logout}">Exit</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>




<div class="container">
    <h2>Create order</h2>

    <form action="" method="post" th:object="${menu}">
        <span style="color: red;" class="validationError" th:if="${#fields.hasErrors('orders')}" th:errors="*{orders}">ordererror</span>
        <div class="">
            <div th:each="order : ${allOrders}">
                <input type="checkbox" name="orders" th:value="${order.id}">
                <span th:text="${order.name}">order</span>
                <p th:text="${order.description}">order</p>

            </div>
        </div>



        <h3>Enter your name:</h3>
        <input type="text" th:field="*{waiter_name}">
        <button>Submit your order</button>
        <span style="color: red;" class="validationError" th:if="${#fields.hasErrors('waiter_name')}" th:errors="*{waiter_name}">ordererror</span>



    </form>
</div>

</body>
</html>